#getNumber {
    font-size: 22px;
    text-align: center;
    font-family: 'Cookie', cursive;
}

.inputNumberBox {
    display: flex;
    justify-content: center;
    font-family: 'Cookie', cursive;
}

#paragraph {
    margin-left: 20px;
    background-color: rgb(50, 205, 216);
    color: rgb(42, 17, 70);
    padding: 30px;
    font-family: 'Cookie', cursive;
}

.header {
    background-color: #270082;
    color: rgb(9, 249, 225);
    padding: 20px;
    text-align: center;
    font-family: 'Cookie', cursive;
}

.instructions {
    background-color: #00ffea;
    color: rgb(42, 17, 70);
    padding: 20px;
    text-align: center;
    font-family: 'Cookie', cursive;
}